<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <h3>Users in database: 
        <% users.forEach((user) => { %>
            <li><%= user.first_name %></li>
          <% }); %>
    </h3>

    <h3>Posts created:
      <% posts.forEach((post) => { %>
        <li><%= post.title %></li>
      <% }); %>
    </h3>
  </body>
</html>
