<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MembersOnly</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="app-header">
        <a href="/home"><h2 class="app-title">MembersOnly</h2></a>
    </nav>
  </body>
</html>