<%- include('layout'); -%>

<section class="login-container">
  <h1 class="login-title">Please log in</h1>
  <form class="login-form" action="/login" method="POST">
    <label for="username">Username</label>
    <input class="form-input" name="username" placeholder="username" type="text" />

    <label for="password">Password</label>
    <input class="form-input" name="password" type="password" />

    <button type="submit" class="signup-submit">Log In</button>
    <a href="/" class="signup-login">Sign up</a>
    <a href="/home" class="signup-home">Homepage</a>
  </form>
</section>