<%- include('layout'); -%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>MembersOnly</title>
</head>
<body>
  <section class="login-container">
    <form class="login-form" action="" method="POST">
      <h2 class="signup-title">Sign Up</h2>
      <label for="firstname">First name</label>
      <input class="form-input" name="firstname" type="text">

      <label for="lastname">Last name</label>
      <input class="form-input" name="lastname" type="text">

      <label for="username">Email</label>
      <input class="form-input" name="username" placeholder="Your email address" type="email" />

      <label for="password">Password</label>
      <input class="form-input" name="password" type="password" />

      <label for="confirmpassword">Confirm password</label>
      <input class="form-input" name="confirmpassword" type="password">

      <button class="signup-submit" type="submit">Sign Up</button>

      <a href="/login" class="signup-login">Log in</a>
    </form>
  </section>
</body>
</html>
  
