<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="" method="POST">
    <label for="firstname">First name</label>
    <input name="firstname" type="text">

    <label for="lastname">Last name</label>
    <input name="lastname" type="text">

    <label for="username">Username</label>
    <input name="username" placeholder="Your email address" type="email" />

    <label for="password">Password</label>
    <input name="password" type="password" />

    <button>Sign Up</button>

    <a href="/login">Log in</a>
    <a href="/home">Homepage</a>
  </form>
</body>
</html>
