:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --green: #a4e4e4;
  --black: rgb(20, 23, 26);
  --dark-grey: rgb(74, 88, 99);
  --light-grey: rgb(170, 184, 194);
  --very-light-grey: rgb(245, 248, 250);
  --white: white;

  --green-hovered: #85dada;

  --box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

/* Nav */

.app-header {
  background-color: var(--white);
  margin: 0;
  padding: 1rem;
  border-bottom: solid 1px var(--green);
}

.app-title {
  text-align: center;
  margin: 0;
  color: var(--dark-grey);
}

/* Sign up page */

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--very-light-grey);
}

.temp-app-title {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: var(--dark-grey);
}

.signup-title {
  font-size: 2rem;
  color: var(--dark-grey);
}

.signup-page-container {
  display: flex;
}

.signup-art-container {
  height: 100vh;
  width: 50%;
  background: url('../images/galaxy.jpg');
  background-size: cover;    
  background-repeat: no-repeat;
  background-position: center center; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  margin-left: 1rem;
}

.signup-form {
  display: flex;
}

.form-input {
  border: 1px solid var(--dark-grey);
  border-radius: 10px;
  padding: 5px;
  color: var(--dark-grey);
}

label {
  color: var(--dark-grey);
}

.signup-submit {
  background-color: var(--green);
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: var(--dark-grey);
  font-size: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.signup-submit:hover, .signup-login:hover, .signup-home:hover {
  background-color: var(--green-hovered);
}

.signup-login, .signup-home {
  background-color: var(--green);
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: var(--dark-grey);
  font-size: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  width: 25%;
  text-decoration: none;
  text-align: center;
}

@media (max-width: 600px) {
  .signup-art-container {
    display: none;
  }
}

/* Log in page */

.login-container, .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-container {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.login-title {
  text-align: center;
  color: var(--dark-grey);
}

.login-form {
  gap: 1rem;
}

/* Home page */

.greeting-message {
  color: var(--dark-grey);
}

.greeting-container {
  padding: 1rem;
}

.members-container {
  background-color: var(--white);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

.home-side-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-content-flow {
  display: flex;
  gap: 2rem;
  margin: 1.5rem;
  justify-content: center;
}

@media (max-width: 800px) {
  .home-content-flow {
    flex-direction: column;
  }
}

.recent-activity-container {
  background-color: var(--white);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
}

.become-a-member {
  background-color: var(--green);
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: var(--dark-grey);
  font-size: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  width: 25%;
  text-decoration: none;
  text-align: center;
  width: 70%;
}

.become-a-member:hover {
  background-color: var(--green-hovered);
}

.greeting-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logout-button {
  background-color: var(--dark-grey);
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  width: 25%;
  text-decoration: none;
  text-align: center;
  width: 70%
}

.member-user, .guest-user {
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.25rem;
}

.member-user {
  background-color: var(--green);
}

.guest-user {
  background-color: var(--dark-grey);
  color: var(--white);
}

.post {
  background-color: var(--very-light-grey);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 10px;
  border: solid 1px var(--green);
}

.anonymous-message {
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 0.25rem;
  width: 70%;
  text-align: center;
  border-radius: 10px;
}

/* Membership page */

.membership-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.membership-form {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin-right: auto;
  margin-left: auto;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}
